{
  "sourceMap": true,
  "compact": false,
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {"modules": "umd"}]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
