html,
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}
#logEntry {
  font-weight: 200;
  color: #444;
  text-align: center;
}
#logEntry {
  z-index: 1000;
  white-space: pre-wrap;
  text-align: left;
  position:absolute;
  top:0;
  left:0;
  padding: 10px;
  font-size: 10px;
}
#description {
  position: fixed;
  width: 300px;
  left: 630px;
  top: 36px;
  height: auto;
  display: none;
}
#moveButtons {
  position: fixed;
  top: 20px;
  left: 10px;
}
#timeline,
.navigationButton {
  cursor: pointer;
}
#timeline-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
}
#timeline-fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 250ms;
  -o-transition: width 250ms;
  transition: width 250ms;
}
.timeline-tick,
.timeline-cycle,
.timeline-enterexit,
.timeline-mark {
  position: relative;
  float: left;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}


#statusHeader {
  width: 100%;
  height: 34px;
  min-width: 500px;

  font-size: 13px;
  white-space: nowrap;
  color: #606060;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
#movementButtons {
  margin-left: 5px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: 240px;
}
#eventStep {
  margin-left: 10px;
}
.monospaced, .monospaced-pre {
  font-family: "Fira Mono", monospace;
}
.monospaced-pre {
  white-space: pre;
}
#eventStatus {
  margin-left: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
#eventTime {
  line-height: 15px;
}
#eventTimeSessionLabel {
  margin-left: 5px;
  font-size: 11px;
}
#eventTimeSession {
  margin-left: 5px;
}
#eventTime, #eventTimeNum, #eventSession, #eventSessionNum {
  line-height: 15px;
}
#eventTime, #eventSession {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
}
#eventTimeNum, #eventSessionNum {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
#eventTimeBlock, #eventSessionBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
#eventWrapper {
  font-size: 11px;
  border-spacing: 0;
  padding-right: 10px
}

#filter {
  margin-left: 5px;
  margin-right: 5px;
}
#search {
  background: url("images/iconSearch.svg") no-repeat scroll 0 0;
  background-size: 20px 20px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
}
::-webkit-input-placeholder {
   color:    #cfcfcf;
}
:-ms-input-placeholder {
   color:    #cfcfcf;
}
::-ms-input-placeholder {
   color:    #cfcfcf;
}
::placeholder {
   color:    #cfcfcf;
}

#timeline {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}


#content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
#cytoWrapper  {
  /* border: 2px red dashed; */
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#cyto {
  /* width: 100%; */
  height: 100%;
}
#legend {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  background-color: rgba(255,255,255, 0.85);

  border-top: 1px rgba(150, 150, 150, 0.2) dotted;
  border-right: 1px rgba(150, 150, 150, 0.2) dotted;
}

.legendRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.legendRowTopMiddle {
  margin-bottom: 8px;
}
.legendColor {

  border: 1px solid #777;
  height: 14px;
  width: 14px;
  min-width: 14px;
  min-height: 14px;
  border-radius: 2px;
}
.legendLabel {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  color: #606060;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
}

#bodyContent {
  height: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}
