html,
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  cursor: default;
}
.buttonDirections {
  color: lightgrey;
}
#instructions,
#logEntry,
#ended {
  font-weight: 200;
  color: #444;
  text-align: center;
}
#instructions, #logEntry {
  z-index: 1000;
  white-space: pre-wrap;
  text-align: left;
  position:absolute;
  top:0px;
  left:0px;
  padding: 10px;
  font-size: 10px;
}
#ended {
  font-size: 30px;
}
#ended strong {
  font-weight: 600;
}
#triangle {
  fill: #ccc;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}
#description {
  position: fixed;
  width: 300px;
  left: 630px;
  top: 36px;
  height: auto;
  display: none;
}
#moveButtons {
  position: fixed;
  top: 20px;
  left: 10px;
}
#timeline,
#timeline *, .navigationButton {
  cursor: pointer;
}
#timeline-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
}
#timeline-fill {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: width 250ms;
}
.timeline-tick,
.timeline-cycle,
.timeline-enterexit,
.timeline-mark {
  position: relative;
  float: left;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}


#statusHeader {
  width: 100%;
  height: 34px;
  min-width: 500px;

  font-size: 13px;
  white-space: nowrap;
  color: #606060;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
#movementButtons {
  margin-left: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 240px;
}
#eventStep {
  margin-left: 10px;
}
.monospaced, .monospaced-pre {
  font-family: "Fira Mono", monospace;
}
.monospaced-pre {
  white-space: pre;
}
#eventStatus {
  margin-left: 5px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#eventTime {
  line-height: 15px;
}
#eventTimeSessionLabel {
  margin-left: 5px;
  font-size: 11px;
}
#eventTimeSession {
  margin-left: 5px;
}
#eventTime, #eventTimeNum, #eventSession, #eventSessionNum {
  line-height: 15px;
}
#eventTime, #eventSession {
  flex: 0 0 45px;
}
#eventTimeNum, #eventSessionNum {
  flex: 0 0 auto;
}
#eventTimeBlock, #eventSessionBlock {
  display: flex;
  align-items: baseline;
}
#eventWrapper {
  font-size: 11px;
  border-spacing: 0;
  padding-right: 10px
}

#filter {
  margin-left: 5px;
  margin-right: 5px;
}
#search {
  background: url(images/iconSearch.svg) no-repeat scroll 0 0;
  background-size: 20px 20px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 16px;
  width: 150px;
}
::placeholder {
   color:    #cfcfcf;
}

#timeline {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}


#content {

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;

  flex-grow: 1;

  position: relative;

}
#cytoWrapper  {
  z-index: 0;
  flex-grow: 1;
  /* border: 2px red dashed; */
  height: 100%;
  width: 100%;
  /* align-self: stretch; */
  /* display: inline-block; */

  position: absolute;
  top: 0px;
  left: 0px;
}
#cyto {
  /* width: 100%; */
  height: 100%;
}
#legend {
  align-self: center;

  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  background-color: rgba(255,255,255, 0.85);

  border-top: 1px rgba(150, 150, 150, 0.2) dotted;
  border-right: 1px rgba(150, 150, 150, 0.2) dotted;
}

.legendRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.legendRowTopMiddle {
  margin-bottom: 8px;
}
.legendColor {

  border: 1px solid #777;
  height: 14px;
  width: 14px;
  min-width: 14px;
  min-height: 14px;
  border-radius: 2px;
}
.legendLabel {
  flex-basis: 0;
  color: #606060;
  margin-left: 4px;
  font-size: 12px;
  line-height: 14px;
}

#bodyContent {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
